* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #c2cee2dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-image {
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 12px;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}

.job-title {
    font-size: 18px;
    font-weight: 600;
    color: #0077cc;
    margin-bottom: 15px;
}
.description {
    font-size: 15px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
}
a {
    display: inline-block;
    text-decoration: none;
    background-color: #0077cc;
    color: #fff;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}
a:hover {
    background-color: #005fa3;
}
